@charset "UTF-8";

:root {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    width: 100vw;
    height: 100vh;
}

body {
    font-size: 1.6rem;
}

.border {
    border: .1rem solid red;
}

a {
    all: unset;
    cursor: pointer;
}

button {
    all: unset;
}

header {
    display: grid;
    place-content: center;
    padding: 2.0rem;
}

header > div {
    display: flex;
    gap: 2.0rem;
    align-items: center;
}

header > div > h1 {
    font-size: 10.0rem;
}

nav {
    padding: 1.0rem;
}

nav > ul {
    all: unset;
    list-style-type: none;
    display: flex;
    gap: 2.0rem;
}

nav > ul > li {
    all: unset;
}

main {
    padding: 2.0rem;
}

main > section {
    max-width: 100.0rem;
    width: 100vw;
    margin: auto;
}

.menu_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3.0rem;
}

.menu_button {
    display: flex;
    flex-direction: column;
    border: .1rem solid red;
    height: 28.0rem;
    /* padding: 1.0rem; */
    border-radius: .8rem;
    box-shadow: .0rem .1rem .5rem rgba(128, 128, 128, 0.418);
    cursor: pointer;
    overflow: hidden;
}

/* .cardapio_button > .top {
    display: flex;
    justify-content: center;
    width: 100%;
} */

.cardapio_button > div > img {
    /* height: 100%; */
    width: 100%;
    object-fit: cover;
}

.modal_container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: rgba(150, 150, 150, 0.4);
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);

    display: grid;
    place-content: center;
}

.modal {
    background: white;
    border-radius: 2rem;

    max-width: 100.0rem;
    height: 60.0rem;
    display: flex;
    overflow: hidden;
}

.modal > .right_container {
    padding: 1.5rem;
}

.cart_button {
    padding: 1rem;
    border-radius: .8rem;
    cursor: pointer;
    background-color: rgb(185, 46, 46);
    color: white;
}