@charset "UTF-8";

.border {
    border: 1px solid red;
}

ul {
    all: unset;
    list-style-type: none;
}

li {
    all: unset;
}

a {
    all: unset;
    cursor: pointer;
}

button {
    all: unset;
}

header {
    display: grid;
    place-content: center;
    padding: 20px;
}

header > div {
    display: flex;
    gap: 20px;
    align-items: center;
}

header > div > h1 {
    font-size: 100px;
}

nav {
    padding: 10px;
}

nav > ul {
    display: flex;
    gap: 20px;
}

main {
    padding: 20px;
}

main > section {
    max-width: 1000px;
    width: 100vw;
    margin: auto;
}

.cardapio_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.cardapio_button {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    height: 280px;
    /* padding: 10px; */
    border-radius: 8px;
    box-shadow: 0px 1px 5px rgba(128, 128, 128, 0.418);
    cursor: pointer;
    overflow: hidden;
}

/* .cardapio_button > .top {
    display: flex;
    justify-content: center;
    width: 100%;
} */

.cardapio_button > div > img {
    /* height: 100%; */
    width: 100%;
    object-fit: cover;
}

.modal_container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: rgba(150, 150, 150, 0.4);
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);

    display: grid;
    place-content: center;
}

.modal {
    background: white;
    border-radius: 2rem;

    max-width: 1000px;
    height: 600px;
    display: flex;
}